*.jsx linguist-language=JavaScript
*.js linguist-language=JavaScript
*.css linguist-language=CSS
jsonserver/* linguist-vendored
jsonserver/db.json linguist-generated=true
jsonserver/images/* linguist-vendored
